
@{
    ViewBag.Title = "Index";
}



<h2>Admin portal</h2>

@Html.ActionLink("Products","Products", "Product",null, new { @class = "btn btn-primary"})
@Html.ActionLink("Product Types", "ProductTypes", "ProductType", null, new { @class = "btn btn-info" })