<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudioAV</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/SlideShow.css" rel="stylesheet" />

</head>
<body>
    @* Main menu *@
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">ՀՈՒՇԱՆՎԵՐՆԵՐ</a></li>
                <li><a href="#">CANDY BAR</a></li>
                <li><a href="#">ՏՊԱԳՐՈՒԹՅՈՒՆ</a></li>
                <li><a href="#">ՄԵԾԱՔԱՆԱԿՏ ՊԱԳՐՈՒԹՅՈՒՆ</a></li>
                <li><a href="#">ԾԱՌԱՅՈՒԹՅՈՒՆՆԵՐ</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">ՄԵՐ ՄԱՍԻՆ</a></li>
            </ul>
        </div>
    </div>
</nav>
<br/>
    <br/>
    @* Main menu end *@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - StudioAV</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>